<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data penerima pinjaman</title>
</head>

<body style="background-color: rgb(255, 247, 180);">
    <h1>Data penerima pinjaman </h1>
    <table border="1">
        <thead>
            <th>No.</th>
            <th>full_name</th>
            <th>phone_number</th>
            <th>email</th>
            <th>selected_education</th>
            <th>loan_time</th>
            <th>money_needed</th>
            <th>speech_box</th>
            <th>action</th>
        </thead>
        <% data.forEach((el, idx)=> { %>
            <tbody>
                <td>
                    <%= idx + 1 %>
                </td>
                <td>
                    <%= el.full_name %>
                </td>
                <td>
                    <%= el.phone_number %>
                </td>
                <td>
                    <%= el.email %>
                </td>
                <td>
                    <%= el.selected_education %>
                </td>
                <td>
                    <%= el.loan_time %>
                </td>
                <td>
                    <%= el.money_needed %>
                </td>
                <td>
                    <%= el.speech_box %>
                </td>
                <td> <a href="/investor/<%= el.id %>/invest">delete</a></td>
                <% }) %>
            </tbody>

    </table>


</body>

</html>